@model IEnumerable<wclc.Models.Member>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        @{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aptSuite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inGiftOf)
        </th>
        <th>
            <input type="checkbox" id="selectAll" /> Select All
        </th>
        <th></th>
    </tr>
    @{ var chkCounter = 0;
foreach (var item in Model) {
    chkCounter++;
     <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aptSuite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inGiftOf)
        </td>
        <td>
            <input type="checkbox" name="chk@item.chkCounter" class="check" />
        </td>
        <td>
            <!--Debug* @Html.ActionLink("Edit", "Edit", new { id=item.MemberId }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.MemberId }) |
             @Html.ActionLink("Delete", "Delete", new { id=item.MemberId })

        </td>
    </tr>
}
}
    <tr>
        <td class="col-lg-12">
            <!--link exports the xml file of the current database-->
            @Html.ActionLink("Export XML file", "ExportToXML", "MemberAdmin")

        </td>
    </tr>
 
    <!--Cannot figure out a delete all button so currently deleting individually-->
</table>
<script type="text/javascript" src="~/Scripts/selectAllCheckBoxes.js"></script>